@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap&subset=cyrillic');

.wrap {
	margin: 0 auto;
	width: 700px;
	font-family: 'Rubik', sans-serif;
	background: #f5f5f5;
}

.title {
	font-size: 100px;
	color: #e5dbdc;
	text-align: center;
}